/* Rimuove margini e padding dal body */
body {
    background-color: slategrey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Imposta l'altezza della pagina */
}

/* Stile per il visualizzatore PDF */
embed {
    flex: 1;
    width: 100%;
    display: block;

}

/* Barra dei pulsanti */
.button-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
    padding: 15px 0;
    border-top: 1px solid #ccc;
}

/* Stile dei pulsanti */
.button-bar button {
    color: honeydew;
    text-decoration: none;
    margin-right: 25px;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    background-color: #686878;
    border: none;
}

/* Effetto hover per i pulsanti */
.button-bar button:hover {
    background-color: #585868; /* Colore di sfondo al passaggio del mouse */
    transform: translateY(-2.5px) scale(0.90); /* Effetto di sollevamento e ridimensionamento */
}
